<div class="inner cover">
  <h1 class="cover-heading">Welcome to the Guinea Pig Blog</h1>
  <p class="lead">Thank you for visiting. Signup and create stories about your guinea Pig!</p>
  <p class="lead">
    <%=link_to 'Read the Blogs', posts_path, class:'btn btn-lg btn-default'%>    
  </p>
</div>

